default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV['RAILS_MAX_THREADS'] || 5 %>
  username: <%= ENV['POSTGRES_USERNAME'] || postgres %>
  password: <%= ENV['POSTGRES_PASSWORD'] || password %>
  host: <%= ENV['POSTGRES_HOST'] || db %>
  port: <%= ENV['POSTGRES_HOST'] || 5432 %>

development:
  <<: *default
  database: od-ot_development

test:
  <<: *default
  database: od-ot_test
